spring/.gradle/
spring/build/
spring/.idea/
spring/data/
spring/out/
spring/log/
.gradle/
.idea/
angular/node-modules
# Ignore Gradle GUI config
spring/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!spring/gradle-wrapper.jar

# Cache of project
spring/.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
