<div class="form-style">
<form [formGroup]="newApplicationForm" (ngSubmit)="doSave($event)" *ngIf="!loading">
	<label><span>Name <span class="required">*</span></span></label>
	<input class="input-field" formControlName="name" type="name" placeholder="Name">
	<label><span>Questions </span></label>
	<br/>
	<ul>
		<li  *ngFor = "let question of questions">
		<p><strong>{{question.question}} </strong><span class="required">*</span></p>
		<p><textarea class="textarea-field" formControlName="{{question.id}}"></textarea></p>

		</li>
	</ul>
  <button type="submit">Save</button><button (click)="cancel()">Cancel</button>
</form>
</div>


