<div class="form-style">
<form [formGroup]="newQuestionForm" (ngSubmit)="doSave($event)">
    <label><span>Question <span class="required">*</span></span></label>
    <textarea class="textarea-field" formControlName="question" type="question"></textarea>
    <br/>
    <label><span>Answer <span class="required">*</span></span></label>
    <textarea class="textarea-field" formControlName="answer" type="answer"></textarea>
    <br/>
  <span class="form-button"><button type="submit">Save</button></span>
  <button (click)="cancel()">Cancel</button>
</form>
</div>